*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --primary:#000;
    --secondary:#fff;
}
.cs-container{
    /* border: solid black 1px; */
    display: flex;
    justify-content:center;
}
.cs-sidebar{
    /* border: solid black 1px; */
     min-height: 100vh;
     overflow: hidden;
    width: 300px;
    display: flex;
    flex-flow: column;
    background-color: var(--primary);
}
.cs-logo{
    /* border: solid black 1px; */
    position: fixed;
    margin-left: 30px;
    margin-top: 10px;
}
.cs-logo >h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--secondary);
    font-size:2.5em;
}
.cs-menu{
    position: fixed;
    display: flex;
    justify-content: center;
    flex-flow:column;
    margin-top: 150px;
    padding: 20px;
}
.cs-options{
    border: solid 1px rgb(255, 255, 255);
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-style: none;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 600;
    
}
.cs-options:hover{
    background-color:rgba(9, 200, 6, 0.974);
    color:var(--secondary);
    text-shadow: 0 0 5px var(--primary);
    transition:0.3s;
    cursor: pointer;
}
.cs-options:active{
    box-shadow: 0 0 5px var(--secondary);
    transition:0.1s;
}

.cs-content{
    /* border: solid rgb(0, 0, 0) 1px; */
    width: 100%;
    background-color: rgb(61, 222, 203);
}
.cs-contentHeading{
    /* border: solid black 1px; */
    padding-left:30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    color: var(--secondary);
    text-shadow: 0 0 10px var(--primary);
}
/*// for side bar and content page */

.cs-cnt{
    /* border: solid black 1px; */
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    overflow: hidden;
    margin:30px;
    padding: 20px;
    background-color: var(--secondary);
    border-radius:10px;
    box-shadow: 0 0 5px var(--primary);
}

.cs-title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size:1.4em;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    /* border: solid black 1px; */
}

.cs-form{
    width:800px;
    /* border: #000 1px solid; */
   
}

.cs-upload{
    display: flex;
  
}
.cs-input{
    /* border: solid 1px black; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 50px;
    width: calc(100% / 3);

}
#url{
   height: 30px;
   width: 280px;
}


.cs-display{
    /* border: solid 1px black; */
    height: 150px;
    width: calc(100% / 3);
    border-radius: 5px;
    background-color: rgb(118, 100, 100);
}
.cs-button{
    width:calc(100% / 3); ;
    /* border:solid 1px black; */
    display: flex;
    /* justify-content: center; */
    margin-left: 50px;
    padding-top: 50px;
    
}
.submit{
    border-radius: 10px;
    height: 50px;
    width: 100px;
    border-style: none;
    background-color: var(--primary);
    color: #fff;
}
.submit:active{
    box-shadow:0 0 5px #000;
    transition: 0.1s;
}
.submit:hover{
    cursor: pointer;
    background-color:rgba(9, 200, 6, 0.974);
    color: #000;
    transition: 0.3s;
}
.cs-list{
    /* position: relative; */
    width: 800px;
    height: 230px;
    padding: 20px;
    overflow: auto;
    display: flex;
    /* justify-content:space-between; */
    flex-wrap: wrap;
}

.cs-box{
    width: calc(100% / 3);
    padding: 15px;
    /* margin-left: 10px; */
    /* border: solid black 1px; */
}
.cs-remove{
    /* border: solid black 1px; */
    display: flex;
    justify-content: center;   
}
.cs-remove > button {
    height: 30px;
    width: 90px;
    margin-top: 3px;
    background-color: rgb(55, 55, 164);
    border-radius: 5px;
    color: #fff;
    border-width: 0cm;
    box-shadow: 0px 3px 2px#00000093;
}
.cs-remove > button:active{
    box-shadow: 0 0 8px #000;
}



.cs-vidDisplay{

    height: 150px;
    border-radius: 5px;
    background-color: rgb(118, 100, 100);
}
.cs-list::-webkit-scrollbar{
    width:10px
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px grey; 
    border-radius:1em;
}
::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 5px;
    
}
::-webkit-scrollbar-thumb:hover{
  background: #010121;
}



