{% extends 'base.html' %}
{% load static %}
{% block title %}
    Admin Dashboard
{% endblock title %}
{% block container %}
    <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    <section class="CS-header">
        {% include 'admin_header.html' %}
    </section>
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-contentHeading">Notes</div>
            <div class="cs-cnt">
                <form class="cs-addNotesForm" action="#">
                    <div class="cs-title">Add New Notes</div>
                    <div class="cs-fields">
                        <div class="cs-formField">
                            <label>Subject</label>
                            <select id="subject" class="cs-inputField">
                                <option value="default">--select--</option>
                                <option>programming in C</option>
                                <option>Computer Architecture</option>
                                <option>JAVA</option>
                                <option>Operating Systems</option>
                            </select>
                        </div>
                        <div class="cs-formField">
                            <label>Contributor's Name</label>
                            <input type="text" class="cs-inputField">
                        </div>
                        <div class="cs-formField">
                            <label>Upload</label>
                            <input type="file" class="cs-inputField">
                        </div>
                    </div>
                    <button class="cs-add">+ Add</button>
                </form>
            </div>
            <div class="cs-cnt2">
                <div class="cs-title">
                    Uploaded Notes
                    <input type="search" placeholder="Search" class="cs-inputField">
                </div>
                <div class="cs-tableHead">
                    <div class="cs-headItems">SubCode</div>
                    <div class="cs-headItems">Subject</div>
                    <div class="cs-headItems">Contributor</div>
                    <div class="cs-headItems">Function</div>
                </div>
                <div class="cs-tableBody">
                    <div class="cs-tableData">
                        <div class="cs-tableItems">CC1</div>
                        <div class="cs-tableItems">Data Structure</div>
                        <div class="cs-tableItems">Muhammad Kaif</div>
                        <div class="cs-tableItems">
                            <button class="cs-function">View</button>
                            <button class="cs-function">Delete</button>
                        </div>
                    </div>
                    <div class="cs-tableData">
                        <div class="cs-tableItems">CC1</div>
                        <div class="cs-tableItems">Data Structure</div>
                        <div class="cs-tableItems">Muhammad Kaif</div>
                        <div class="cs-tableItems">
                            <button class="cs-function">View</button>
                            <button class="cs-function">Delete</button>
                        </div>
                    </div>
                    <div class="cs-tableData">
                        <div class="cs-tableItems">CC1</div>
                        <div class="cs-tableItems">Data Structure</div>
                        <div class="cs-tableItems">Muhammad Kaif</div>
                        <div class="cs-tableItems">
                            <button class="cs-function">View</button>
                            <button class="cs-function">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    {% comment %} Footer {% endcomment %}
    {% include 'footer.html' %}
{% endblock container %}
