{% extends 'base.html' %}
{% load static %}
{% block title %}
    Course Books
{% endblock title %}
{% block container %}
    <link rel="stylesheet" href="{% static 'css/subjects_table_styles.css' %}">
    <section class="CS-header">
        {% include 'header.html' %}
    </section>
    {% comment %}Table{% endcomment %}
    <section class="subjects-table">
        <h3 class="caption">Choose Your Subject~</h3>
        <div class="table-responsive">
            <table class="table table-bordered border-secondary">
                <tbody>
                    <thead class="table-dark">
                        <tr>
                            <th>
                                <h4>
                                    <strong>Semester I</strong>
                                </h4>
                            </th>
                            <th>
                                <h4>
                                    <strong>Semester II</strong>
                                </h4>
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td onclick="window.location.href='{% url "course-books" %}'">CC12 - Programming Fundamentals using C</td>
                        <td>Programming in JAVA</td>
                    </tr>
                    <tr>
                        <td>CC12L - Programming Fundamentals using C Lab</td>
                        <td>Programming in JAVA Lab</td>
                    </tr>
                    <tr>
                        <td>CC13 - Computer System Architecture</td>
                        <td>Discrete Structures</td>
                    </tr>
                    <tr>
                        <td>CC13L - Computer System Architecture Lab</td>
                        <td>Discrete Structures Tutorial</td>
                    </tr>
                    <tr>
                        <td>AEC11 - Environmental Science</td>
                        <td>Generic Elective II</td>
                    </tr>
                    <tr>
                        <td>GE14 - Mathematics</td>
                        <td>Generic Elective II</td>
                    </tr>
                    <thead class="table-dark">
                        <tr>
                            <th>
                                <h4>
                                    <strong>Semester III</strong>
                                </h4>
                            </th>
                            <th>
                                <h4>
                                    <strong>Semester IV</strong>
                                </h4>
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Data Structures</td>
                        <td>Design and Analysis of Algorithms</td>
                    </tr>
                    <tr>
                        <td>Data Structures Lab</td>
                        <td>Design and Analysis of Algorithms Lab</td>
                    </tr>
                    <tr>
                        <td>Operating Systems</td>
                        <td>Software Engineering</td>
                    </tr>
                    <tr>
                        <td>Operating Systems Lab</td>
                        <td>Software Engineering Lab</td>
                    </tr>
                    <tr>
                        <td>Computer Networks</td>
                        <td>Database Management Systems</td>
                    </tr>
                    <tr>
                        <td>Computer Networks Lab</td>
                        <td>Database Management Systems Lab</td>
                    </tr>
                    <tr>
                        <td>Skill Enhancement Course I</td>
                        <td>Skill Enhancement Course II</td>
                    </tr>
                    <tr>
                        <td>Generic Elective III</td>
                        <td>Generic Elective IV</td>
                    </tr>
                    <thead class="table-dark">
                        <tr>
                            <th>
                                <h4>
                                    <strong>Semester V</strong>
                                </h4>
                            </th>
                            <th>
                                <h4>
                                    <strong>Semester VI</strong>
                                </h4>
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Internet Technologies</td>
                        <td>Artificial Intelligence</td>
                    </tr>
                    <tr>
                        <td>Internet Technologies Lab</td>
                        <td>Artificial Intelligence Lab</td>
                    </tr>
                    <tr>
                        <td>Theory of Computation</td>
                        <td>Computer Graphics</td>
                    </tr>
                    <tr>
                        <td>Theory of Computation Tutorial</td>
                        <td>Computer Graphics Lab</td>
                    </tr>
                    <tr>
                        <td>Discipline Specific Elective I</td>
                        <td>Discipline Specific Elective III</td>
                    </tr>
                    <tr>
                        <td>Discipline Specific Elective I Lab</td>
                        <td>Discipline Specific Elective III Lab</td>
                    </tr>
                    <tr>
                        <td>Discipline Specific Elective II</td>
                        <td>Discipline Specific Elective IV</td>
                    </tr>
                    <tr>
                        <td>Discipline Specific Elective II Lab</td>
                        <td>Discipline Specific Elective IV Lab</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    {% comment %} Footer {% endcomment %}
    {% include 'footer.html' %}
{% endblock container %}
