{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ subject.subject }}
{% endblock title %}
{% block container %}
<link rel="stylesheet" href="{% static 'css/C-Programming_Notes.css' %}">
<section class="CS-header">
    {% include 'header.html' %}
</section>
<section class="files">
    <div class="container-fluid files-container">
        <h2 class="body-text">{{ subject.subject_code }} - {{ subject.subject }}</h2>
        <div class="row">
            {% for x in data %}
            <div class="col-lg-2 col-md-3 col-sm-4 file">
                <div class="card" onclick="window.location.href='{{ x.book_file.url }}'">
                    <img src="{% static 'image/book.png' %}" class="card-img-top card-image" alt="pdf">
                    <div class="card-body">
                        <h5 class="card-title">{{ x.title }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% comment %} Footer {% endcomment %}
{% include 'footer.html' %}
{% endblock container %}