{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block container %}
    <link rel="stylesheet" href="{% static 'css/subjects_table_styles.css' %}">
    <section class="CS-header">
        {% include 'header.html' %}
    </section>
    {% comment %} Table {% endcomment %}
    <section class="subjects-table">
        <h3 class="caption">Choose Your Subject~</h3>
        <div class="table-responsive">
            <table class="table table-bordered border-secondary">
                <tbody>
                    <thead class="table-dark">
                        <tr>
                            <th>
                                <h4>
                                    <strong>Semester I</strong>
                                </h4>
                            </th>
                            <th>
                                <h4>
                                    <strong>Semester II</strong>
                                </h4>
                            </th>
                        </tr>
                    </thead>
                    {% for data in first_year %}
                        <tr>
                            {% if data.0 is not None %}
                                <td onclick="window.location.href='{% url "course-books" data.0.subject data.0.id %}'">
                                    {{ data.0.subject_code }}-{{ data.0.subject }}
                                </td>
                            {% endif %}
                            {% if data.1 is not None  %}
                                <td onclick="window.location.href='{% url "course-books" data.1.subject data.1.id %}'">
                                    {{ data.1.subject_code }}-{{ data.1.subject }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    <thead class="table-dark">
                        <tr>
                            <th>
                                <h4>
                                    <strong>Semester III</strong>
                                </h4>
                            </th>
                            <th>
                                <h4>
                                    <strong>Semester IV</strong>
                                </h4>
                            </th>
                        </tr>
                    </thead>
                    {% for data in second_year %}
                        <tr>
                            {% if data.0 is not None %}
                                <td onclick="window.location.href='{% url "course-books" data.0.subject data.0.id %}'">
                                    {{ data.0.subject_code }}-{{ data.0.subject }}
                                </td>
                            {% endif %}
                            {% if data.1 is not None  %}
                                <td onclick="window.location.href='{% url "course-books" data.1.subject data.1.id %}'">
                                    {{ data.1.subject_code }}-{{ data.1.subject }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    <thead class="table-dark">
                        <tr>
                            <th>
                                <h4>
                                    <strong>Semester V</strong>
                                </h4>
                            </th>
                            <th>
                                <h4>
                                    <strong>Semester VI</strong>
                                </h4>
                            </th>
                        </tr>
                    </thead>
                    {% for data in third_year %}
                        <tr>
                            {% if data.0 is not None %}
                                <td onclick="window.location.href='{% url "course-books" data.0.subject data.0.id %}'">
                                    {{ data.0.subject_code }}-{{ data.0.subject }}
                                </td>
                            {% endif %}
                            {% if data.1 is not None  %}
                                <td onclick="window.location.href='{% url "course-books" data.1.subject data.1.id %}'">
                                    {{ data.1.subject_code }}-{{ data.1.subject }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% include 'footer.html' %}
{% endblock container %}
