{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ subject.subject }}
{% endblock title %}
{% block container %}
    <link rel="stylesheet" href="{% static 'css/C-Programming_Notes.css' %}">
    <section class="CS-header">
        {% include 'header.html' %}
    </section>
    <section class="files">
        <div class="container-fluid files-container">
            <h2 class="body-text">{{ subject.subject_code }}-{{ subject.subject }}</h2>
            <div class="row">
                {% for file in data %}
                    <div class="col-lg-2 col-md-3 col-sm-4 file">
                        <div class="card"
                             onclick="window.location.href='{{ file.notes_file.url }}'">
                            <img src="{% static 'image/pdf.png' %}"
                                 class="card-img-top card-image"
                                 alt="pdf">
                            <div class="card-body">
                                <h5 class="card-title">{{ file.title }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% include 'footer.html' %}
        {% endblock container %}
