{% extends 'base.html' %}
{% load static %}
{% block title %}
    C-Programming Notes
{% endblock title %}
{% block container %}
    <link rel="stylesheet" href="{% static 'css/C-Programming_Notes.css' %}">
    <section class="CS-header">
        {% include 'header.html' %}
    </section>
    {% comment %} Body {% endcomment %}
    <section class="body">
        <h2 class="body-text">CC12 - Programming Fundamentals using C~</h2>
        <div class="container-fluid videos-container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="video">
                        <iframe class="videos"
                                src="https://www.youtube.com/embed/videoseries?list=PLu0W_9lII9aiXlHcLx-mDH1Qul38wD3aR"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="video">
                        <iframe class="videos"
                                src="https://www.youtube.com/embed/7Dh73z3icd8"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="video">
                        <iframe class="videos"
                                src="https://www.youtube.com/embed/7Dh73z3icd8"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="video">
                        <iframe class="videos"
                                src="https://www.youtube.com/embed/7Dh73z3icd8"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="video">
                        <iframe class="videos"
                                src="https://www.youtube.com/embed/7Dh73z3icd8"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="video">
                        <iframe class="videos"
                                src="https://www.youtube.com/embed/7Dh73z3icd8"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% comment %} Footer {% endcomment %}
    {% include 'footer.html' %}
{% endblock container %}
