<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/videoLecture.css" />
</head>

<body>
    <div class="cs-container">
        <div class="cs-sidebar">
            <div class="cs-logo">
                <h1>CS Guide.</h1>
            </div>
            <div class="cs-menu">
                <button class="cs-options">Notes</button>
                <button class="cs-options">Video Lectures</button>
                <button class="cs-options">Books</button>
                <button class="cs-options">Sample Papers</button>
                <button class="cs-options">Logout</button>
            </div>
        </div>
        <div class="cs-content">
            <div class="cs-contentHeading">
                Video Lecture
            </div>
            <div class="cs-cnt">
                <form action="#" class="cs-form">
                    <div class="cs-title">
                        Add Video Lectures
                    </div>
                    <div class="cs-upload">
                        <div class="cs-display">
                            video display
                        </div>
                        <div class="cs-input">
                            <label> Video Link:</label>
                            <div class="cs-inputField">
                                <input type="url" name="link" id="url">
                            </div>
                        </div>
                        <div class="cs-button">
                            <input type="submit" class="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
            <div class="cs-cnt">
                <div class="cs-title">
                    Available Videos
                </div>
                <div class="cs-list">
                    <div class="cs-box">
                        <div class="cs-vidDisplay">
                            video display
                        </div>
                        <div class="cs-remove">
                            <button>Remove</button>
                        </div>
                    </div>
                    <div class="cs-box">
                        <div class="cs-vidDisplay">
                            video display
                        </div>
                        <div class="cs-remove">
                            <button>Remove</button>
                        </div>
                    </div>
                    <div class="cs-box">
                        <div class="cs-vidDisplay">
                            video display
                        </div>
                        <div class="cs-remove">
                            <button>Remove</button>
                        </div>
                    </div>
                    <div class="cs-box">
                        <div class="cs-vidDisplay">
                            video display
                        </div>
                        <div class="cs-remove">
                            <button>Remove</button>
                        </div>
                    </div>
                    <div class="cs-box">
                        <div class="cs-vidDisplay">
                            video display
                        </div>
                        <div class="cs-remove">
                            <button>Remove</button>
                        </div>
                    </div>
                    <div class="cs-box">
                        <div class="cs-vidDisplay">
                            video display
                        </div>
                        <div class="cs-remove">
                            <button>Remove</button>
                        </div>
                    </div>
                    <div class="cs-box">
                        <div class="cs-vidDisplay">
                            video display
                        </div>
                        <div class="cs-remove">
                            <button>Remove</button>
                        </div>
                    </div>
                    <div class="cs-box">
                        <div class="cs-vidDisplay">
                            video display
                        </div>
                        <div class="cs-remove">
                            <button>Remove</button>
                        </div>
                    </div>
                    <div class="cs-box">
                        <div class="cs-vidDisplay">
                            video display
                        </div>
                        <div class="cs-remove">
                            <button>Remove</button>
                        </div>
                    </div>
                    <div class="cs-box">
                        <div class="cs-vidDisplay">
                            video display
                        </div>
                        <div class="cs-remove">
                            <button>Remove</button>
                        </div>
                    </div>
                    <div class="cs-box">
                        <div class="cs-vidDisplay">
                            video display
                        </div>
                        <div class="cs-remove">
                            <button>Remove</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>